<% content_for :page_title, "Popular Restaurants" %>

<nav class="filters">

  <%= link_to "All Restaurants", reviews_path %>

  <form action="/">
    <input type="text" name="location"
           placeholder="Search location..." value="<%= @location %>">
    <input type="hidden" name="price" value="<%= @price %>">
    <input type="hidden" name="cuisine" value="<%= @cuisine %>">
  </form>

  <div>
    <%= nav_link_to "$", reviews_path(price: 1, cuisine: @cuisine, location: @location) %>
    <%= nav_link_to "$$", reviews_path(price: 2, cuisine: @cuisine, location: @location) %>
    <%= nav_link_to "$$$", reviews_path(price: 3, cuisine: @cuisine, location: @location) %>
  </div>

  <div>
    <% @cuisines.each do |cuisine| %>
      <%= nav_link_to cuisine, reviews_path(cuisine: cuisine, price: @price, location: @location) %>
    <% end %>
  </div>

</nav>

<% @reviews.each do |review| %>
  <p><%= link_to review.title, review %></p>
<% end %>
