<% content_for :page_title, @review.title %>

<h1><%= @review.title %></h1>

<div class="user">
  Posted by
  <% if @review.user.present? %>
    <%= link_to add_handle(@review.user.username), @review.user %>
  <% else %>
    anonymous
  <% end %>
  - <%= @review.created_at.strftime("%B %d, %Y") %>
</div>

<div class="bookmark">
  Bookmarked by <%= pluralize(@review.bookmarks.count, 'user') %>
  <% if logged_in? %>
    <%= link_to boormark_or_unbookmark(@review), review_bookmark_path(@review), method: bookmark_http_method(@review) %>
  <% end %>
</div>

<h2><%= @review.restaurant %></h2>
<% if @review.address.present? %>
  <h5><%= @review.address %></h5>
<% end %>

<div class="score">
  <%= @review.score %> / 10
</div>

<% if @review.ambiance.present? %>
  <div class="ambiance">
    Ambiance: <%= @review.ambiance %>
  </div>
<% end %>

<% if @review.price.present? %>
  <div class="price">
    Price: <%= price_converter(@review.price) %>
  </div>
<% end %>

<% if @review.cuisine.present? %>
  <div class="cuisine">
    Cuisine: <%= @review.cuisine %>
  </div>
<% end %>

<div class="body">
  <%= simple_format @review.body %>
</div>

<% if owner?(@review.user) %>
  <div class="actions">
    <%= link_to "Edit", edit_review_path(@review) %> |
    <%= link_to "Delete", review_path(@review), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>

<% if @review.comments.present? %>
  <h3>Comments</h3>
<% end %>

<% @review.comments.order("created_at desc").each do |comment| %>
  <div class="comment">
    <% if comment.user.present? %>
      <p class="posted">Posted by <%= link_to add_handle(comment.user.username), comment.user %> <%= time_ago_in_words(comment.created_at) %> ago</p>
    <% else %>
      <p class="posted">Posted by Anonymous <%= time_ago_in_words(comment.created_at) %> ago</p>
    <% end %>
    <%= comment.body %>
  </div>
<% end %>

<% if logged_in? %>

  <h3>Add a Comment</h3>

  <%= simple_form_for [@review, Comment.new] do |f| %>
    <%= f.input :body %>
    <%= f.button :submit, "Submit", class: "orange-button" %>
  <% end %>

<% end %>
